<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todolist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="crud.js"></script>


</head>
<body ng-app='myApp' ng-controller='CrudCtrl'>
    <nav class="navbar navbar-light bg-dark ">
        <span class="navbar-brand mb-0 h1 text-light">Todo List</span>
    </nav>
    <div class="container">
        <form class="form" ng-submit="addTask(addPhoneNumberForm.$valid)" name="addPhoneNumberForm" id="addPhoneNumberForm" style="margin: 20px;">
            <div class="text-center">
                <p>Add New Task</p>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" ng-model="createVM.Des" id="nameAdd" placeholder="What you gonna do?" name="nameAdd" required>
                    <input type="hidden" class="form-control" ng-model="createVM.Time_now='Process'" id="phoneNumberAdd" name="phoneNumberAdd" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" ng-click="submit()">ADD</button>
                    </div>
                </div>
                    
            </div>
        </form>
        <div style="height:70px;">

            <div ng-if="showAlert" class="alert alert-success">
                <strong>{{alertName}}</strong> {{alertMessage}}
            </div>
        </div>
        <table ng-if="listData.length" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Task</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" ng-repeat="data in listData">
                    <td>{{$index + 1 }}</td>
                    <td>{{data.Des}}</td>
                    <td>{{data.Time_now}}</td>
                    <td>
                        <button type="button" ng-click="openUpdateTaskModal(data.Id)" class="btn btn-info" data-toggle="modal" data-target="#updateModal">UPDATE</button>
                        <button type="button" ng-click="openDeleteTaskModal(data.Id)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Button trigger modal -->

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })</script>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Are you sure want to delete the task?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button ng-click="deleteTask(recordIdToDelete)" data-dismiss="modal" type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form">
                    <div class="container">
                        <div class="text-center">
                            <div class="form-group">
                                <label for="nameUpdate">Task:</label>
                                <input type="text" ng-model="updateVM.Des" class="form-control" id="nameUpdate" placeholder="Edit your task" name="nameUpdate" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                </div>
                                <select class="custom-select" ng-model="updateVM.Time_now" id="phoneNumberUpdate" required>
                                    <option value="Give Up">Give Up</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="updateTask(updateVM.Id)" class="btn btn-primary" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>